@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');
body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

/* navigation */

.navbar-navigation {
    overflow: hidden;
    background-color: #333;
}

.navbar-navigation a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-navigation {
    float: left;
    overflow: hidden;
}

.dropdown-navigation .dropbtn-navigation {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar-navigation a:hover, .dropdown-navigation:hover .dropbtn-navigation {
    background-color: red;
}

.dropdown-content-navigation {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropdown-content-navigation a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-navigation a:hover {
    background-color: #ddd;
}

.dropdown-navigation:hover .dropdown-content-navigation {
    display: block;
}

/* carousel */

.carousel-caption h5 {
    font-weight: bold;
    font-size: 100px;
    text-shadow: 2px 2px 4px #000000;
}

/*=================
  Body
 * Portada
  =================*/

.portada {
    margin-top: 35px;
}

.container-slogan {
    color: rgb(141, 136, 136);
    font-size: 14px;
    /* 14px looks good too */
    /* background: rgb(235, 53, 53); */
}

.container-slogan-text {
    padding-bottom: 20px;
}

.container-slogan-text h2 {
    color: rgb(90, 87, 117);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.container-slogan .mov-humana {
    text-align: right;
}

.container-slogan .mov-humana img {
    vertical-align: middle;
    border-radius: 50%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.container-slogan .mov-humana .frame {
    height: 220px;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

.container-slogan .mov-humana .frame .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.container-slogan .mov-humana .frame img {
    background: #3A6F9A;
    vertical-align: middle;
    max-height: 220px;
    max-width: 200px;
}

/* parallax */

.parallax {
    /* The image used */
    background-image: url("img/barrio_penas_guayaquil.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**
 * Fat Footer
 -----------------------------*/

footer .clear {
    clear: both;
    float: none;
}

footer {
    background: #222;
    overflow: hidden;
    border-top: solid 1px #000;
    padding: 58px 0 0;
    font-family: arial, helvetica, sans-serif;
    line-height: 1.5em;
}

footer p, footer ul, footer a, footer .btn {
    font-family: arial, helvetica, sans-serif;
    line-height: 1.5em;
    text-transform: none;
}

footer li {
    font-size: .875em;
    line-height: 1.5em;
}

footer .btn {
    background: #4497c4;
    background-image: -webkit-linear-gradient(top, #4497c4, #2d6a8e);
    background-image: -moz-linear-gradient(top, #4497c4, #2d6a8e);
    background-image: -ms-linear-gradient(top, #4497c4, #2d6a8e);
    background-image: -o-linear-gradient(top, #4497c4, #2d6a8e);
    background-image: linear-gradient(to bottom, #4497c4, #2d6a8e);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 2px #ffffff;
    -moz-box-shadow: 0px 1px 2px #ffffff;
    box-shadow: 0px 1px 2px #ffffff;
    color: #ffffff!important;
    font-size: 15px;
    padding: 5px 15px 6px 15px;
    border: solid #25658a 1px;
    text-decoration: none;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}

footer .content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    .log-movilidad-humana {
        display: none;
    }
    footer .content {
        padding: 0 10px;
    }
}

footer .last {
    margin-right: 0px !important;
}

@media only screen and (max-width: 485px) {
    footer .last {
        clear: both;
    }
}

#emailsignup {
    float: left;
    width: 330px;
}

#emailsignup .footer-logo {
    display: block;
    width: 155px;
    height: 41px;
    background: url("logo_small.png") top left no-repeat;
    text-indent: -9999px;
    margin-bottom: 30px;
}

#emailsignup a, #helpfullinks .list-items a, #poweredby a, .social p {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

#emailsignup p {
    font-size: 13px;
    color: #FFF;
    margin: 0px 0px 16px;
}

#helpfullinks {
    float: right;
}

@media only screen and (max-width: 825px) {
    #helpfullinks {
        float: none;
        clear: both;
    }
}

#helpfullinks div {
    float: left;
    margin-right: 45px;
}

#helpfullinks div a {
    display: inline;
    margin-top: -6px;
    margin-bottom: 8px;
}

#helpfullinks p.category {
    color: #FFF;
    font-size: 21px;
    margin: 0 0 14px;
}

#helpfullinks ul {
    list-style-type: none;
    padding: 0px;
    margin: 14px 0 0 0;
}

#helpfullinks li {
    padding: 0px;
    margin: 0 0 6px;
    font-size: 15px;
}

#poweredby {
    max-width: 100%;
    margin: 100px auto 0;
    overflow: hidden;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #poweredby {
        margin: 26px auto 0;
    }
}

#poweredby p {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 0 10px;
    text-align: center;
}

#poweredby ul {
    display: inline-block;
    margin: 0px auto;
    list-style-type: none;
    padding: 0px;
}

#poweredby li {
    margin: 0 40px 0 0;
    float: left;
}

@media only screen and (max-width: 495px) {
    #poweredby li {
        margin: 0 0 10px 0;
        float: none;
        clear: both;
    }
}

.social p {
    margin-top: 30px;
    text-align: center;
}

#poweredby .footer-andres {
    display: block;
    width: 77px;
    height: 24px;
    background: url("logo_2.png") top left no-repeat;
    text-indent: -9999px;
    margin: 0 auto;
}